/*COLORS
DBlue  #042039
LBlue  #005470
Gray  #cdd9d6
Offwhite  #f4edcf
Red  #9e1c20
*/

body {
	font-family: 'Vesper Libre', serif;
}

h1 {
	font-family: 'Signika', sans-serif;
	font-weight: 700;
}

.navbar {
	margin-bottom: 0;
}

.S1_container {
	background-image: url("../img/ocean.jpg");
	padding-top: 50px;
	padding-bottom: 50px;
	text-align: center;
	background-position: center center;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-size: cover;
	-webkit-background-size: cover;
}

.opacity > div > h1 {
	color: white;
	font-size: 4em;
}

.logo {
	border-radius: 50px;
  	margin-top: 20px;
  	max-width: 200px;
}

.opacity {
	background-color: rgba(0, 0, 0, 0.5);
    width: 80%;
    margin: 20px auto;
    padding-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
}

.buttons {
	font-family: "Signika", sans-serif;
}

.buttons > a {
	margin-bottom: 10px;
	color: #005470;
}

@media (max-width: 450px) {
	.buttons > a {
		width: 80%;
	}
}